#locateAppContent {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    display: none;

}

.accountControl {
    margin-top: 10px;
    float: right;
}

.accountControl span {
    color: white;

    margin-right: 15px;
}

.accountControl input {
    color: black;
}

body {
    background-color: #E9EBEE;
    font-family: 'Open Sans';
    font-size: 14px;

}

.accountBackground {
    background-color: #3C5A98;
    width: 100%;
    height: 58px;
}

.modaFormBackground {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;

}

#dangKiForm {
    padding-top: 20px;
    position: fixed;
    margin-top: 50px;
    width: 350px;
    height: 280px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    cursor: default;
    -webkit-box-shadow: -3px 4px 18px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 4px 18px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 4px 18px 2px rgba(0, 0, 0, 0.75);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;

}

#dangKiForm .title {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20pt;
    font-weight: 700;
    color: #449D44;

}

#container {
    float: left;
    width: 50%;
    border-right: 1px solid black;
    background-color: white;
}

#container ul{
	padding-left: 0px;
	overflow: hidden;
	margin-bottom: 0px;
	
	
}

#container ul:not(.title):hover{
    background-color: #D2D2D2;
    cursor: pointer;
}
#container .title{
	border-top: 1px solid black;
	background-color: black;
	color: white;
}
#container .title li{
	border-left: 1px solid white;
	 border-bottom: 1px solid white;
}

#contentMap {
    float: left;
    width: 50%;
}

#container li {
    float: left;
    display: inline-block;
    border-left: 1px solid black;
    height: 45px;
    overflow: auto;
    height: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 5px;
}

.id {
    width: 10%;
    overflow:

}

.hoTen {
    width: 25%;
}

.sdt {
    width: 25%;
}

.diaChi {
    width: 25%;
}

.state {
    width: 15%;
}
